@import "tailwindcss";
@import "sweetalert2/dist/sweetalert2.min.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-primary: #154273;
    --color-primary-light: #2b8af8;
    --color-natural: #dfd4d4;
    --font-sans: "Inter", sans-serif;
}

[x-cloak] {
    display: none;
}